@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
html,body{
    margin:0;
    padding: 0;
    height: 100%;
    font-family:"Source Sans Pro";
    animation: fadein 2s;
}
#root {
    height: 100%;
  }