.Container {
  display: flex;
  border: 1px solid white;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
}
.Image {
  max-height: 100px;
  align-self: center;
}

.listItem {
  text-decoration: none;
  font-family: inherit;
  font-weight: light;
  font-size: 1.1rem;
  display: inline-block;
}
.navigation {
  color: #015de7;
  padding: 0.5em 2.5em;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

.navigation:hover {
  background: #015de7;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (min-width: 840px) and (max-width:1040px) {
  .Container{
    padding-left: 0em;
  }
  .navigation{
    padding:0.5em 1.2em;
  }
}
@media (max-width:840px){
  .Container{
    flex-direction: column;
  }
  .listItem{
    padding:1.5em 0;
  }
}