.Footer-container{
  font-family: Source Sans Pro;
  background: #1e2833;
  display:flex;
  flex-direction:column;
  margin: 0;
}
.Footer-paragraph{
  color: aliceblue;
  text-align:center;
}
.Footer-inner{
  display: flex;
  justify-content: space-around;
  color:#fff;
  @media(max-width:700px){
    flex-direction:column;
    align-items:center;
  }
}

