.Container{
  display: flex;
  border: 1px solid white;
  width: 100%;
  padding-left: 1em;
  justify-content:space-around;
  align-items:center;
  @media(max-width:1000px){
      flex-direction:column;
  }
}
.Image{
  max-height: 100px;
  align-self:center
}

.listItem{
  text-decoration: none;
  font-family: inherit;
  font-weight: light;
  font-size:1.3rem;
  display: inline-block;
  @media(max-width:1000px){
      align-self:center;
      margin:1.5em 0;
  }
}
.navigation{
  color: #015de7;
  padding:.5em 2.5em;
  font-size: 1.5rem;
  text-decoration: none;
}
  
.navigation:hover{
      background:#015de7;
      color:white
};

