body {
  font-family: "Open Sans";
}
h1 {
  font-size: 36px;
  max-width: 410px;
  color: #7158e2;
}
img {
  float: right;
  max-width: 800px;
  width: 75%;
}
ul{
  list-style: none;
}
button {
  padding: 0.5rem 2.5rem;
  margin: 1.7em 0;
  font-size: 24px;
  background:#7158e2;
  color: white;
  border:none;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(0,0,0,50%);
}
.display{
  border:#7158e2 solid 1px;
  background:white;
  color: #7158e2;
  padding:0.9rem 3.5em ;
  border-radius: 9px;
  box-shadow: none;
}
